<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../assets/css/login.css">

</head>

<body>
    <div class="login-page">

        <div class="form">
            <h2>Inicio de sesión</h2>

            <form class="login-form">
                <label for="email">Correo electrónico</label>
                <input id="email" type="text" placeholder="Escribe tu correo electronico" />
                <label for="password">Contraseña</label>
                <input id="password" type="password" placeholder="Al menos 8 caracteres" />
                <button id="btn_accept">Aceptar</button>
            </form>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../assets/js/login.js"></script>
</body>

</html>