<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Google fonts dependencies-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../assets/css/todo.css">
    <title>Todo</title>
</head>

<body>

    <div>
        <button id="btn_add_task">
            <i class="material-icons">add</i>
            Crear nueva tarea
        </button>
    </div>

    <h1>Tareas</h1>

    <div class="serv">

        <ul id="todo-container">
        </ul>

        <div id="modal-todo" class="modal">
    
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Crear nueva tarea... In Progress</p>
            </div>
        </div>

    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../assets/js/todo.js"></script>

</body>

</html>